extends layout

block content
  h1= code +' '+ version
  
  p Pos terminal: #{ip}
  p Admin server: #{uri} 
  p Folder config: #{config}
  p Folder setting retain: #{retain}
  p Folder factory setting: #{factory}
